html, body {
	margin: auto;
	height: 100%;
}

.mosaic {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.mosaic__item {
	background-color: #ddd;
	display: inline-block;
	height: 100px;
}

.mosaic__item:nth-child(odd) {
	background-color: #eee;
}
